form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: spacer(12);
  .input-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: spacer(6);
    > input {
      height: 44px;
      box-sizing: border-box;
    }
  }
}
